<!DOCTYPE HTML>

<html>
	<head>
		<title>漫行-支付</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--logo-->
		<link rel="shortcut icon" href="images/bitbug_favicon.ico" />
		<!--个人中心按钮样式--->
		<link rel="stylesheet" href="assets/css/oneCenter.css">
	</head>
	<body class="contact">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html"><img src="images/TIM图片20180804120320.png" height="30" width="60"/></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="index.html">首页</a></li>
							<li><a href="listView.html">所有景点</a></li>
							<li class="submenu">
								<a href="#">更多</a>
								<ul>
									<li class="submenu">
										<a href="#">默认</a>
										<ul>
											<li><a href="#">默认</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<!--登录成功后显示个人中心-->
                            <li><a href="center/index.html" target="_blank" id="center">个人中心</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<h2><!--[-->支付服务<!--]--></h2>
					</header>
					<!-- One -->
						<section class="wrapper style4 special container 75%">
							<!-- Content -->
								<div class="content">
									<form>
										<div class="row 50%">
											<div class="6u 12u(mobile)">
												<input type="text" name="uname" placeholder="您贵姓？" />
											</div>
											<div class="6u 12u(mobile)">
												<input type="text" name="uphone" placeholder="您的手机号（默认回选，为用户注册手机号）" />
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<input type="text" name="identity" placeholder="您的身份证" />
											</div>
											<div class="12u">
												<p>出行人数</p>
												<input type="radio" id="dan" name="pnum" value="1">
												<label for="dan">单人</label>
												<input type="radio" id="shuang" name="pnum" value="2">
												<label for="shuang">双人</label>
												<input type="radio" id="san" name="pnum" value="3">
												<label for="san">三人以上</label>
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<textarea name="message" placeholder="Message" rows="7"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<ul class="buttons">
													<li><input type="submit" class="special" value="Send Message" /></li>
												</ul>
											</div>
										</div>
									</form>
								</div>

						</section>

				</article>

			<!-- Footer -->
			<footer id="footer">

				<ul class="copyright">
					<li>漫行 &copy; 2018</li>
					<li>解释权由漫行所有</li>
				</ul>

			</footer>

		</div>

		<!-- Scripts -->
			<script src="center/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>