<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>漫行</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="toTop" content="true">
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <!--logo-->
    <link rel="shortcut icon" href="images/bitbug_favicon.ico" />

</head>
<body class="index">
<div id="page-wrapper">
    <header id="header" class="alt" style="z-index: 1">
        <h1 id="logo"><a href="index.html"><img src="images/TIM图片20180804120320.png" height="30" width="60"/></a></h1>
        <nav id="nav">
            <ul>
                <li class="current"><a href="index.html">首页</a></li>
                <li><a href="listView.html" style="margin-right: 20px">所有景点</a></li>
                <li><a th:if="${session.user} eq null" href="indexLogin.action" class="button special">登   录</a></li>
                <li th:if="${session.user} ne null" class="submenu">
                    <a th:text="'欢迎回来:'+${session.user.u_nickname}">欢迎回来，</a>
                    <ul>
                        <li class="submenu">
                            <a href="Order.html">个人中心</a>
                        </li>
                        <li class="submenu">
                            <a  th:text="${session.user.u_cert} eq 1 ? '商家入驻':'商家平台'" th:href="@{Mark.action}">商家入驻</a>
                        </li>
                        <li class="submenu">
                            <a href="Out">注销</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h2>说走就走</h2>
            </header>
            <p><!--[-->这里是，<!--]--> <strong><!--[-->旅游胜地<!--]--></strong> <!--[--><!--]-->
                <br/>
                <br/>
                <footer>
                    <ul class="buttons vertical">
                        <li><a href="#main" class="button fit scrolly"><!--[-->了解一下<!--]--></a></li>
                    </ul>
                </footer>
        </div>
    </section>

    <article id="main">
        <header class="special container">
            <h2><!--[-->为您推荐<!--]--></h2>
        </header>
        <!--引用首页-->
        <div id="syifa">

        </div>
        <!-- Three -->
        <section class="wrapper style3 container special">
            <footer class="major">
                <ul class="buttons">
                    <li><a href="listView.html" class="button">查看更多</a></li>
                </ul>
            </footer>
        </section>
    </article>
    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>漫行 &copy; 2018</li>
            <li>解释权由漫行所有</li>
        </ul>
    </footer>
</div>
<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollgress.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/autoiframe.js"></script>
<script src="assets/js/toTop.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        $("#syifa").append("<iframe src=\"indexShow\" name=\"ifd\" height=\"400px\" onload=\"this.height=955\" width=\"100%\" scrolling=\"false\" frameborder=\"0\"></iframe>");
    })
</script>

</body>
</html>