<!DOCTYPE HTML>

<html>
<head>
    <title>漫行-消息提示</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/Flgo.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <!--logo-->
    <link rel="shortcut icon" href="images/bitbug_favicon.ico" />
    <!--login-->
    <link rel="stylesheet" href="assets/css/login.css">
    <style type="text/css">
        #info{
            width: 125px;
            height: 86px;
        }
    </style>
</head>
<body class="index">
<div id="page-wrapper">
    <!-- Header -->
    <header id="header" class="reveal">
        <h1 id="logo"><a href="index.html"><img src="images/TIM图片20180804120320.png" height="30" width="60"/></a></h1>
        <nav id="nav">
            <ul>
                <li class="current"><a href="index.html">首页</a></li>
                <li><a href="listView.html">所有景点</a></li>
                <li class="submenu">
                    <a href="#">更多</a>
                    <ul>
                        <li><a href="center/index.html" target="_blank">个人中心</a></li>
                        <li class="submenu">
                            <a href="#">默认</a>
                            <ul>
                                <li><a href="#">默认</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="login.html" style="border-radius: 12px;" class="button special">登   录</a></li>
            </ul>
        </nav>
    </header>
    <section id="banner">

    </section>
    <!-- Main -->
    <article id="main">
        <!-- Three -->
        <section class="wrapper style3 container special">
            <div></div>
            <div class="reg" style="width: 600px;display: inline-block;">
                <img src="images/dui.jpg" height="85" width="125"/>
                <p>操作提示！</p>
                <p><a href="">三秒后自动跳转</a></p>
            </div>
        </section>

    </article>
    <!-- Footer -->
    <footer id="footer">

        <ul class="copyright">
            <li>漫行 &copy; 2018</li>
            <li>解释权由漫行所有</li>
        </ul>

    </footer>
    <div id="max"></div>
    <div class="login">
        <div class="close"><a href="javascript:clo()" title="关闭">X</a></div>
        <form action="#" name="login">
            <table align="center">
                <tr>
                    <td valign="">用户名：</td>
                    <td><input type="text" name="uname" class="input"></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="password" name="upwd" class="input"></td>
                </tr>
                <tr>
                    <td colspan="2" class="bb" align="center"><input id="butlogin" type="submit" value="登    录"></td>
                    <td><a href="register.html" id="nodemo">没有账号？现在注册！</a></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!-- Scripts -->
<script src="center/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollgress.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/login.js"></script>
<script type="text/javascript">
    $(function () {
        setInterval(function () {
            window.location = "index.html";
        },3000)
    })
</script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
</body>
</html>