<!DOCTYPE HTML>

<html>
<head>
    <title>漫行</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/Flgo.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <!--logo-->
    <link rel="shortcut icon" href="images/bitbug_favicon.ico" />
    <!--个人中心按钮样式--->
    <link rel="stylesheet" href="assets/css/oneCenter.css">
    <script src="assets/js/autoiframe.js"></script>
    <script src="assets/js/jquery-3.1.1.min.js"></script>

</head>
<body class="index">
<div id="page-wrapper">
    <!-- Header -->
    <header id="header" class="reveal">
        <h1 id="logo"><a href="index.html"><img src="images/TIM图片20180804120320.png" height="30" width="60"/></a></h1>
        <nav id="nav">
            <ul>
                <li class="current"><a href="index.html">首页</a></li>
                <li><a href="listView.html">所有景点</a></li>
                <li class="submenu">
                    <a href="#">更多</a>
                    <ul>

                        <li class="submenu">
                            <a href="#">默认</a>
                            <ul>
                                <li><a href="#">默认</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!--登录成功之后显示个人中心-->
                <li><a href="center/index.html" target="_blank" id="center">个人中心</a></li>
                <!--<li><a href="login/index.html" style="border-radius: 12px;" class="button special">登   录</a></li>-->
            </ul>
        </nav>
    </header>
    <section id="banner">
    </section>
    <!-- Main -->
    <article id="main">
        <!-- Three -->
        <section class="wrapper style3 container special">
            <header class="major">
                <h2><!--[-->度假胜地<!--]--> <strong><!--[-->就在此处<!--]--></strong></h2>
            </header>
            <div class="row">
                <iframe src="cpts_398_pn/products.html" name="indexifa" frameBorder=0 height="1260" scrolling=no width="100%"></iframe>
            </div>
        </section>

    </article>
    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>漫行 &copy; 2018</li>
            <li>解释权由漫行所有</li>
        </ul>

    </footer>
</div>
<!-- Scripts -->
<script src="center/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollgress.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>