<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>漫行个人中心</title>
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="http://localhost:8080/MX/center_index/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="http://localhost:8080/MX/center_index/fontawesome/css/fontawesome-all.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/MX/center_index/slick/slick.css"/>
    <!-- http://kenwheeler.github.io/slick/ -->
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/MX/center_index/slick/slick-theme.css"/>
    <link rel="stylesheet" href="http://localhost:8080/MX/center_index/css/tooplate-style.css">

    <script>document.documentElement.className = "js";
    var supportsCssVars = function () {
        var e, t = document.createElement("style");
        return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e
    };
    supportsCssVars() || alert("Please view this in a modern browser such as latest version of Chrome or Microsoft Edge.");
    </script>

    <style type="text/css">
        label{
            width: 113px;
            line-height: 25px;
        }
        .xg{
            width: 264px;
            line-height: 25px;
        }
        .item_input{
            width: 264px;
            line-height: 23px;
        }
    </style>

</head>

<body>
<div id="tm-bg"></div>
<div id="tm-wrap">
    <div class="tm-main-content">
        <div class="container tm-site-header-container" style="background-color: rgba(0,0,0,0.36)">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-md-col-xl-6 mb-md-0 mb-sm-4 mb-4 tm-site-header-col">
                    <div class="tm-site-header">
                        <h1 class="mb-4">个人中心</h1>
                        <img src="img/underline.png" class="img-fluid mb-4">
                        <p>您可以在此查看订单，也可修改您的基本信息</p>
                        <p>秋天到了，注意保暖呦</p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="content">
                        <div class="grid">
                            <div class="grid__item" id="home-link">
                                <div class="product">
                                    <div class="tm-nav-link">
                                        <i class="fas fa-home fa-3x tm-nav-icon"></i>
                                        <span class="tm-nav-text">基本信息</span>
                                        <div class="product__bg"></div>
                                    </div>
                                    <div class="product__description">
                                        <div class="row mb-3">
                                            <div class="col-12">
                                                <h2 class="tm-page-title">个人信息</h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <label style="margin-bottom: 17px;">真实姓名：<span th:text="${us.u_name}">老蒋</span></label>
                                                <p class="xg">昵称：<span class="xgs" th:text="${us.u_nickname}">我是老蒋B</span></p>
                                                <p class="xg">手机号：<span class="xgs" th:text="${us.u_phone}">13827382349</span></p>
                                                <p class="xg">身份证号：<span class="xgs" th:text="${us.u_idcard}">430723200007012418</span></p>
                                                <p>
                                                    <a id="edit" onclick="test()" href="#">
                                                        <span class="bj">编辑资料</span>
                                                        <span class="bc" style="display: none">保存</span>
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <p>注意，修改手机号或身份证都需要验证，请确保是本人操作</p>
                                                <img src="img/welcome-2.jpg" class="img-fluid">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="grid__item" id="team-link">
                                <div class="product">
                                    <div class="tm-nav-link">
                                        <i class="fas fa-users fa-3x tm-nav-icon"></i>
                                        <span class="tm-nav-text">评论</span>
                                        <div class="product__bg"></div>
                                    </div>
                                    <div class="product__description">
                                        <div class="p-sm-4 p-2">
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <h2 class="tm-page-title">评论</h2>
                                                </div>
                                            </div>
                                            <div class="row tm-reverse-sm">
                                                <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                                    <p class="mb-4">Vestibulum aliquet, arcu accumsan lobortis bibendum,
                                                        justo velit efficitur lorem, at pulvinar mi justo nec lacus.
                                                        Nullam et libero aliquet, luctus nunc sit amet, tincidunt
                                                        ligula. Sed finibus ante sed tortor cursus, nec malesuada lectus
                                                        interdum.</p>
                                                    <p class="mb-4">Sed ex turpis, vulputate in efficitur id, lobortis
                                                        eget nibh. Pellentesque maximus ipsum eget velit imperdiet
                                                        sodales. Suspendisse in blandit mi.</p>
                                                    <p class="mb-5">Pellentesque finibus felis risus, ut malesuada felis
                                                        viverra at. Quisque accumsan in mi non hendrerit.</p>
                                                    <a href="#" class="btn tm-btn-gray">Read More</a>
                                                </div>
                                                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-lg-0 mb-sm-4 mb-4">
                                                    <img src="img/team.jpg" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="grid__item">
                                <div class="product">
                                    <div class="tm-nav-link">
                                        <i class="fas fa-handshake fa-3x tm-nav-icon"></i>
                                        <span class="tm-nav-text">我的订单</span>
                                        <div class="product__bg"></div>
                                    </div>
                                    <div class="product__description">
                                        <div class="p-sm-4 p-2">
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <h2 class="tm-page-title">我的订单</h2>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-12" th:each="o,pd:${order}">
                                                    <p>订单号:<span th:text="${o.o_id}">1</span></p>
                                                    <p>联系人:<span th:text="${session.user.u_name}">2</span></p>
                                                    <p>商家&nbsp;:<span th:text="${o.m_name}">3</span></p>
                                                    <p>旅游景点:<span th:text="${o.s_title}">4</span></p>
                                                    <p>旅客人数:<span th:text="${o.o_person}">5</span></p>
                                                    <p>乘坐方式:
                                                        <span th:if="${o.tools_id} eq 0">汽车</span>
                                                        <span th:if="${o.tools_id} eq 1">火车</span>
                                                        <span th:if="${o.tools_id} eq 2">飞机</span>
                                                    </p>
                                                    <p>乘坐班次:<span th:text="${o.class_id}">7</span></p>
                                                    <p>价格&nbsp;:
                                                        <span th:text="'￥'+${#numbers.formatDecimal(o.o_price,0,0)}">8</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                   <!-- <div class="p-sm-4 p-2 tm-img-container">
                                                        <div class="tm-img-slider" id="tmImgSlider">
                                                            <img src="img/gallery-img-01-tn.jpg" alt="Image"
                                                                 class="tm-slider-img">
                                                            <img src="img/gallery-img-02-tn.jpg" alt="Image"
                                                                 class="tm-slider-img">
                                                            <img src="img/gallery-img-03-tn.jpg" alt="Image"
                                                                 class="tm-slider-img">
                                                            <img src="img/gallery-img-04-tn.jpg" alt="Image"
                                                                 class="tm-slider-img">
                                                            <img src="img/gallery-img-05-tn.jpg" alt="Image"
                                                                 class="tm-slider-img">
                                                            <img src="img/gallery-img-06-tn.jpg" alt="Image"
                                                                 class="tm-slider-img">
                                                        </div>
                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="grid__item">
                                <div class="product">
                                    <div class="tm-nav-link">
                                        <i class="fas fa-comments fa-3x tm-nav-icon"></i>
                                        <span class="tm-nav-text">联系我们</span>
                                        <div class="product__bg"></div>
                                    </div>
                                    <div class="product__description">
                                        <div class="pt-sm-4 pb-sm-4 pl-sm-5 pr-sm-5 pt-2 pb-2 pl-3 pr-3">
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <h2 class="tm-page-title">建议/反馈</h2>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-12">
                                                    <p>联系客服:</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <form action="index.html" method="post" class="contact-form">
                                                        <div class="row">
                                                            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                                                                <input type="text" id="contact_name" name="contact_name"
                                                                       class="form-control" placeholder="Name"
                                                                       required/>
                                                            </div>
                                                            <div class="form-group col-md-6 col-lg-6 col-xl-6 tm-col-email">
                                                                <input type="email" id="contact_email"
                                                                       name="contact_email" class="form-control"
                                                                       placeholder="Email" required/>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <textarea id="contact_message" name="contact_message"
                                                                      class="form-control" rows="9"
                                                                      placeholder="Message" required></textarea>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary tm-btn-submit">
                                                            Submit
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p class="small tm-copyright-text">漫行 &copy; 2018 | 解释权由漫行所有</p>
        </footer>
    </div> <!-- .tm-main-content -->
</div>
<!-- load JS -->
<script src="http://localhost:8080/MX/center_index/js/jquery-3.2.1.slim.min.js"></script>         <!-- https://jquery.com/ -->
<script>
    var statu = 0;
    var edit = document.getElementById('edit');
    var item = document.getElementsByClassName('xgs');

    function test(){
        var item_length = item.length;
        var item_value = new Array(item_length);

        for(i = 0; i <item_length; i++){
            item_value[i] = item[i].innerHTML;
        }

        if(statu == 0){
            edit.innerHTML= '保存';
            $(".bc").css("display","block");
            $(".bj").css("display","none");
            for(i = 0; i < item_length; i++){
                item[i].innerHTML = '<input type="text" class="item_input" value="'+item_value[i]+'">';
            }
            statu = 1;
        }else{
            edit.innerHTML= '编辑';
            $(".bc").css("display","none");
            $(".bj").css("display","block");
            var item_input = document.getElementsByClassName('item_input');
            for(i = 0; i < item_length; i++){
                item_value[i] = item_input[i].value;
            }
            for(i = 0; i < item_length; i++){
                item[i].innerHTML = item_value[i];
            }
            statu = 0
        }
        return false;
    }
</script>
<script src="http://localhost:8080/MX/center_index/slick/slick.min.js"></script>       <!-- http://kenwheeler.github.io/slick/ -->
<script src="http://localhost:8080/MX/center_index/js/anime.min.js"></script>                     <!-- http://animejs.com/ -->
<script src="http://localhost:8080/MX/center_index/js/main.js"></script>
<script>
    function setupFooter() {
        var pageHeight = $('.tm-site-header-container').height() + $('footer').height() + 100;

        var main = $('.tm-main-content');

        if ($(window).height() < pageHeight) {
            main.addClass('tm-footer-relative');
        }
        else {
            main.removeClass('tm-footer-relative');
        }
    }

    /* DOM is ready
    ------------------------------------------------*/
    $(function () {

        setupFooter();

        $(window).resize(function () {
            setupFooter();
        });

        $('.tm-current-year').text(new Date().getFullYear());  // Update year in copyright


    });
</script>



</body>
</html>
