<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>登录-漫行</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Sliding Ui Forms template Responsive, Login form web template,Flat Pricing w3tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="http://localhost:8080/MX/login/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
	<!--logo-->
	<link rel="shortcut icon" href="images/bitbug_favicon.ico" />
<!-- web font -->
<link href='///fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<!--web font-->
	<!-- 弹框css样式 -->
<link href="http://localhost:8080/MX/login/alert/easydialog.css" rel="stylesheet" type="text/css"/>
<!-- //web font -->
</head>
<body background="images/湖边.jpg">
	<!-- main -->
	<div class="main agileits-w3layouts">
		<h1>登录漫行</h1>
		<div class="main-agileinfo">
			<div class="wthree-box"></div>
			<div class="agileui-forms">
				<div class="container-info">
					<div class="info-w3lsitem">
						<div class="w3table">
							<div class="w3table-cell">
								<p> 已有账号 </p>
								<div class="btn"> 登录 </div>
							</div>
						</div>
					</div>
					<div class="info-w3lsitem">
						<div class="w3table">
							<div class="w3table-cell">
								<p> 还没账号？</p>
								<div class="btn">注册</div>
							</div>
						</div>
					</div>
					<div class="clear"> </div>
				</div> 
				<div class="container-form">
					<div class="form-item log-in"><!-- login form-->
						<div class="w3table agileinfo"> 
							<div class="w3table-cell"> 
								<div class="w3table-topimg">
									<img src="images/海边.jpg">
								</div>
								<form id="DLform" action="login.action" method="post">
									<input type="text" name="name" placeholder="昵称/手机号"/>
									<input type="Password" name="u_password" placeholder="密码" />
									<input type="submit" class="btn" value="登  录">
								</form>
							</div>
						</div>
					</div>
					<div class="form-item sign-up"><!-- sign-up form-->
						<div class="w3table w3-agileits">
							<div class="w3table-cell">   
								<form id="ZCform" action="#" method="post">
									<p>注意！在注册之后，系统将自动分配您初始密码！请在注册后48小时内修改密码！</p>
									<input type="text" name="u_name" placeholder="您的真实姓名" />
									<input type="text" name="u_phone" placeholder="手机号" />
									<input type="text" name="validation" placeholder="验证码" />
									<span></span><a href="#" id="vCont">获取短信验证码</a>
									<input type="submit" class="btn" value="注  册">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div> 
		</div>
	</div>   
	<!-- //main -->
	<!-- copyright -->
	<div class="copyw3-agile">
		<p> 漫行 © 2018 | 解释权由漫行所有</p>
	</div>
	<!-- //copyright -->
	<!-- js -->  
	<script  src="js/jquery-1.12.3.min.js"></script>
	<script src="alert/easydialog.min.js"></script>
	<script>
            var time = 31;
            var res = true;
            function djs() {
                $("#vCont").prev().text("(30s)获取验证");
                time--;
                if(time == 0){
                    $("#vCont").show();
                    $("#vCont").prev().hide();
                    time = 61;
                }else{
                    $("#vCont").hide();
                    $("#vCont").prev().show();
                    setTimeout(function () {
                        djs();
                        $("#vCont").prev().text("("+time+"s)获取验证");
                    },1000);
                }
            }
            $("#vCont").click(function () {
                djs();
            })
		$(".info-w3lsitem .btn").click(function() {
			  $(".main-agileinfo").toggleClass("log-in");
			});
			$(".container-form .btn").click(function() {
			  $(".main-agileinfo").addClass("active");
		});

			//弹框的方法
			function bounced(title){
                easyDialog.open({
                    container : {
                        content : title
                    },
                    autoClose : 2000
                });
			}

		$(function () {

		    $(":input[name=u_phone]").blur(function () {
		        var u_phone=$(this).val();
				if(u_phone.trim().length>0&&u_phone!=""){
                    $.post("PhoneExists?u_phone="+u_phone,function (json) {
                        if(json){
                            bounced("温馨提示：该手机号已被注册！");
                        }else{
                            bounced("温馨提示：手机号可用！");
                            $(".easyDialog_wrapper .easyDialog_text ").css("color","green");
                        }
                    },'json');
				}
            });

            var con = true;
            //正则表达式(手机号,密码,验证码)
            var phone=/^1[3|4|5|7|8][0-9]{9}$/;
            var password=/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[^]{8,16}$/;
            var validation=/^\d{6}$/;
            /*
            备注:bounced('提示的内容')- - - -> 调用弹框的方法
			       xxx.val('')        - - - -> 清空val值
			       xxx.focus()        - - - ->获取焦点
			*/
            //登录提交验证
			$("#DLform").submit(function () {
				if($(":input[name=name]").val()==""){
                    bounced( '温馨提示：昵称/手机号不能为空！2秒后关闭...');
                    $(":input[name=name]").focus();
                    con=false;
				}else if (phone.test($(":input[name=name]").val())==false) {
                    bounced('温馨提示：手机号必须为11位！2秒后关闭...');
                    $(":input[name=name]").val("");
                    $(":input[name=name]").focus();
                    con=false;
				}else if($(":input[name=u_password]").val()==""){
                    bounced('温馨提示：密码不能为空！2秒后关闭...');
                    $(":input[name=u_password]").focus();
                    con=false;
				}else if(password.test($(":input[name=u_password]").val())==false){
                    bounced('温馨提示：密码至少包含大写字母，小写字母，数字，且不少于8位！2秒后关闭...');
                    $(":input[name=u_password]").val("");
                    $(":input[name=u_password]").focus();
                    con=false;
				}else{
				    bounced("登录成功！2秒后跳转首页...")
                    con=true;
				}
				return con;
            });

			//注册提交验证
			$("#ZCform").submit(function () {
				if($(":input[name=u_name]").val()==""){
				    bounced("温馨提示：真实姓名不能为空！2秒后关闭...");
                    $(":input[name=u_name]").focus();
                    con=false;
				}else if ($(":input[name=u_phone]").val()==""){
				    bounced("温馨提示：手机号不能为空！2秒后关闭...");
                    $(":input[name=u_phone]").focus();
                    con=false;
				}else if(phone.test($(":input[name=u_phone]").val())==false){
                    bounced('温馨提示：手机号必须为11位！2秒后关闭...');
                    $(":input[name=u_phone]").val("");
                    $(":input[name=u_phone]").focus();
                    con=false;
				}else if($(":input[name=validation]").val()==""){
				    bounced("温馨提示：验证码不能为空！2秒后关闭...");
				    $(":input[name=validation]").focus();
				    con=false;
				}else if(validation.test($(":input[name=validation]").val())==false){
				    bounced("温馨提示：服务密码为6位！2秒后关闭...");
				    $(":input[name=validation]").val("");
                    $(":input[name=validation]").focus();
                    con=false;
				}else{
				    bounced("注册成功！2秒后跳转首页...");
				    con=true;
				}
				return con;
            });
        })
	</script>
	<!-- //js --> 
</body>
</html>