<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商家中心信息修改</title>
    <link href="css/style.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="js/easyui/jquery.easyui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="js/easyui/themes/easyui.css">
    <link rel="stylesheet" type="text/css" href="js/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <script src="js/style.js"></script>
    <script type="text/javascript">
        function run(){
            var ph = $(".safinput1").eq(3).val();
            var btn = $("#sss");
            var time = 10;//定义时间变量。用于倒计时用
            var timer = null;//定义一个定时器；
            var phone=/^1[3|4|5|7|8][0-9]{9}$/;
            if(ph==""){
                alert("请输入手机号！");
                return false;
            }else if(phone.test(ph)==false){
                alert("请输入正确的手机号！");
                $(".safinput1").eq(3).focus();
            }else {
                $.ajax({
                    type: "post",
                    url:"../SaveNumbertoRides",
                    data:ph
                });
                timer = setInterval(function () {///开启定时器。函数内执行
                    btn.disabled = true;
                    btn.innerText = "(" + time + "s)秒后重新发送";    //点击发生后，按钮的文本内容变成之前定义好的时间值。
                    btn.text(btn.innerText);
                    //alert( btn.innerText);
                    time--;//时间值自减
                    if (time == 0) {     //判断,当时间值小于等于0的时候
                        btn.innerText = '重新发送验证码'; //其文本内容变成……点击重新发送……
                        btn.html("<a href='javascript:run()' style='color:#0000FF'>" + btn.innerText + "</a>");
                        btn.disabled = false;
                        clearInterval(timer); //清除定时器
                    }
                }, 1000)
            }


        }
        <!--密码修改验证-->
        function  sub() {
            var uid = [[${uid}]];
            var input = $("input[name],select");
            for(var i=0;i<3;i++){
                switch (i){
                    case 0:
                        if (input.eq(i).val() == "") {
                            // $.messager.alert("消息提醒", "验证码错误!", "warning");
                            $(".title").text("请填写用户名!").css("color","red");
                            $("input[name=psw],select").eq(i).focus();
                            return false;
                        }
                        break;
                    case 1:
                        if (input.eq(i).val() == "") {
                            $(".psw").text("请填写新密码!").css("color","red");
                            $("input[name=psw],select").eq(i).focus();
                            return false;
                        }
                        break;
                    case 2:
                        if (input.eq(i).val() == "") {
                            $(".npsw").text("请再次填写新密码!").css("color","red");
                            $("input[name=psw],select").eq(i).focus();
                            return false;
                        }else if(input.eq(i).val() != input.eq(1).val()){
                            $(".npsw").text("两次输入的密码不一致!").css("color","red");
                            $("input[name=psw],select").eq(i).focus();
                            return false;
                        }
                        break;
                }
            }
            var data = $("#jbj").serialize();
            $.ajax({
                type: "post",
                url: "DeletePassword",
                data: data+"&uid="+uid,
                dataType: "text", //返回数据类型
                success: function(msg){
                    if("errorpsw"==msg){
                        $.messager.alert("消息提醒", "原密码错误!", "warning");
                    }else if("different"==msg){
                        $.messager.alert("消息提醒", "两次输入的密码不一致!", "warning");
                    }else if("failure"==msg){
                        $.messager.alert("消息提醒", "系统正忙，请稍后再试!", "warning");
                    }else if("success"==msg){
                        $.messager.alert("消息提醒", "修改成功!", "warning");
                    }
                  }
            });
   }
    </script>
</head>
<body>
<div style="width: 100%;height: 80px">
    <div class="public-header-warrp">
        <div class="public-header">
            <div class="content">
                <div class="public-header-logo"><a th:href="@{../SystemServlet}"><i>WALK</i><h3>漫行网络科技</h3></a></div>
            </div>
        </div>
    </div>
</div>
<div class="Safety">
    <dl>
        <dt>
            <strong>登录密码：</strong>
            <span>保障账户安全，建议您定期更换密码</span>
            <b><span class="glyphicon glyphicon-ok"> </span>已经设置</b>
            <em>修改</em>
        </dt>
        <dd>
            <form  id="jbj" method="post">
                <table width="100%" class="safForm">
                    <tr>
                        <td width="35%" align="right">当前密码：</td>
                        <td><input type="text" name="jpsw" class="safinput1" /> <span class="title" style="display:block;"></span></td>
                    </tr>
                    <tr>
                        <td width="35%" align="right">设置新密码：</td>
                        <td><input type="password" name="xpsw"  class="safinput1" /><span class="psw" style="display:block;"></span></td>
                    </tr>
                    <tr>
                        <td width="35%" align="right">确认新密码：</td>
                        <td><input type="password" name="npsw"  class="safinput1" /><span class="npsw" style="display:block;"></span></td>
                    </tr>
                    <tr>
                        <td width="35%" align="right">&nbsp;</td>
                        <td><input type="button" onclick="sub()" class="safSub" value="修改登录密码"></td>
                    </tr>
                </table>
            </form>
        </dd>

        <dt>
            <strong>手机号码：</strong>
            <span>保障账户与资金安全，是您在漫行重要的身份凭证</span>
            <b><span class="glyphicon glyphicon-ok"> </span>已经设置 </b>
            <em>修改</em>
        </dt>
        <dd>
            <ul class="Step">
                <li class="stepCur"><span>1</span></li>
                <li><span>2</span></li>
                <li><span>3</span></li>
                <div class="clearfix"></div>
            </ul><!--Step/-->
            <form action="#" method="get" class="sjyz-one">
                <table width="100%" class="safForm">
                    <tr>
                        <td width="35%" align="right">手机号：</td>
                        <td><input type="text" class="safinput1" /></td>
                    </tr>
                    <tr>
                        <td width="35%" align="right">验证码：</td>
                        <td><input type="text" class="safinput2" /> <span id="sss"><a href="#" onclick="run()" style="color:#0000FF">点击获取</a></span></td>
                    </tr>
                    <tr>
                        <td width="35%" align="right">身份证号：</td>
                        <td><input type="text" class="safinput1" /></td>
                    </tr>
                    <tr>
                        <td width="35%" align="right">&nbsp;</td>
                        <td><a class="safSub sjyz-one-next" href="javascript:;">下一步</a></td>
                    </tr>
                </table>
            </form>
            <form action="#" method="get" class="sjyz-two">
                <table width="100%" class="safForm">
                    <tr>
                        <td width="35%" align="right">新手机号：</td>
                        <td><input type="text" class="safinput1" /></td>
                    </tr>
                    <tr>
                        <td width="35%" align="right">验证码：</td>
                        <td><input type="text" class="safinput2" /><span onclick="run()" id="scsc">点击获取</span></td>
                    </tr>
                    <tr>
                        <td width="35%" align="right">身份证号：</td>
                        <td><input type="text" class="safinput1" /></td>
                    </tr>
                    <tr>
                        <td width="35%" align="right">&nbsp;</td>
                        <td><a class="safSub sjyz-two-next" href="javascript:;">下一步</a></td>
                    </tr>
                </table>
            </form>
            <div class="sjyz-ok"><span class="glyphicon glyphicon-ok"></span> 恭喜您,设置成功!</div>
        </dd>

        <dt>
            <strong>实名认证：</strong>
            <span>保障账户安全，只有通过实名认证，才能充值投资、申请贷款</span>
            <b><span class="glyphicon glyphicon-ok"> </span>已经设置 </b>
            <em>修改</em>
        </dt>
        <dd>
            <form action="#" method="get" enctype="multipart/form-data">
                <table width="100%" class="safForm">
                    <tr>
                        <td width="35%" align="right">用户名：</td>
                        <td>asdsdfasdf</td>
                    </tr>
                    <tr>
                        <td width="35%" align="right">真是姓名：</td>
                        <td><input type="text" class="safinput1" /></td>
                    </tr>
                    <tr>
                        <td width="35%" align="right">身份证号：</td>
                        <td><input type="text" class="safinput1" /></td>
                    </tr>
                    <tr>
                        <td width="35%" align="right">&nbsp;</td>
                        <td><input type="submint" class="safSub" value="提交" /></td>
                    </tr>
                </table>
            </form>
        </dd>

    </dl>
</div><!--Safety/-->
</body>
</html>