<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>你爸爸</title>
    <style type="text/css">
        #divUL div{
            float: left;
        }

    </style>
</head>
<body>
<form action="" method="post">
   <table style="text-align: center">
       <tr>
           <td>标题:</td>
           <td><input type="text"/></td>
       </tr>
       <tr>
           <td>详情：</td>
           <td><input type="text" /></td>
       </tr>
       <tr>
           <td>景点价格:</td>
           <td><input type="text"/></td>
       </tr>
       <tr>
           <td>景点原价:</td>
           <td><input type="text"/></td>
       </tr>
       <tr>
           <td>景点轮播</td>
           <td><input type="file" multiple="multiple" name="listInput" id="listInput" value="" /></td>
       </tr>
       <tr>
           <div id="divUL">

           </div>
       </tr>
   </table>
</form>
</body>
<script type="text/javascript">

    //多张
    document.getElementById("listInput").addEventListener("change",function(){
        var files = this.files;
        var oUL = document.getElementById("divUL");
        oUL.innerHTML = "";
        for(var i = 0;i < files.length;i++){
            oUL.innerHTML += '<div><img id="img'+i+'" /></div>'
            var imgList = document.getElementById("img"+i);
            imgList.style.height = "200px";
            imgList.style.width = "200px";
            imgList.src = window.URL.createObjectURL(files[i]);
        }
    });

</script>
</html>