<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Deals</title>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Custom Theme files -->
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
<link type="text/css" rel="stylesheet" href="css/JFFormStyle-1.css" />
<!-- js -->
<script src="js/jquery.min.js"></script>
<!-- //js -->
</head>
<body>
	<div class="banner-bottom">
		<div class="container">
			<!--banner-bottom-grids为一行，三个景区简述为一行，首页固定显示九条数据，即三行-->
			<div class="banner-bottom-grids">
				<!---class为col-md-4 weekend-grids.则为景区简述-->
				<div class="col-md-4 weekend-grids" th:each="sce,SbStat:${scenery}">
					<div class="weekend-grid">
						<!--跳转至详情页面-->
						<a th:href="'details.html?s_id='+${sce.s_id}" target="_blank">
							<!--景区图片-->
							<img th:src="'http://www.yihao86.cn:9352/'+${sce.getS_fmImg()}" alt="正在加载..." />
							<div class="deals-info-grid">
								<div class="deals-grids">
									<div class="col-md-8 deals-rating">
										<h3 th:text="${sce.getS_title()}">张家界  周末特惠</h3>
										<!--评分，单个span作为一星-->
										<span style="color:#FDD000" th:text="'评分：'+${#numbers.formatDecimal(sce.getS_num(),0,1)}" aria-hidden="true"></span>
									</div>
									<div class="col-md-4 deals-price" style="padding: 10px;">
										<p class="now" th:text="'￥'+${#numbers.formatDecimal(sce.getS_price_yuan(),0,0)}">¥ 1280</p>
										<p th:text="'￥'+${#numbers.formatDecimal(sce.getS_price(),0,0)}">¥ 980</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<script src="js/jquery-ui.js"></script>
</body>
</html>