<html class=" js csstransforms3d js csstransforms3d" style="" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>P-single</title>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Govihar Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen">
    <link type="text/css" rel="stylesheet" href="css/JFFormStyle-1.css">
    <!-- js -->
    <script src="js/jquery.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <!-- //js -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>
    <!--pop-up-->
    <script src="js/menu_jquery.js"></script>
    <script src="js/kuCity.js"></script>
    <link rel="stylesheet" href="css/kuCity.css">
    <!--//pop-up-->
</head>
<body >
<!-- banner-bottom -->
<div class="banner-bottom" th:fragment="pBo">
    <!-- container -->
    <div class="container">
        <div class="faqs-top-grids">
            <!--single-page-->
            <div class="single-page">
                <div class="col-md-8 single-gd-lt">
                    <div class="single-pg-hdr">
                        <h2>张家界，周末特惠</h2>
                        <p>赶快咨询吧，过时不待呦~ +86 132****9089</p>
                    </div>
                    <div class="flexslider">
                        <ul class="flex-direction-nav">
                            <li><a class="flex-prev" href="#">Previous</a></li>
                            <li><a class="flex-next" href="#">Next</a></li>
                        </ul>
                        <div class="flex-viewport" style="overflow: hidden; position: relative;">
                            <ul class="slides"
                                style="width: 4600%; transition-duration: 0.6s; transform: translate3d(-7623px, 0px, 0px);">
                                <!--图片轮播至少两张照片-->
                                <li data-thumb="images/p1.jpg" style="width: 693px; float: left; display: block;"
                                    class="clone">
                                    <img src="images/p1.jpg" alt="">
                                </li>
                                <li data-thumb="images/p3.jpg" class="clone"
                                    style="width: 693px; float: left; display: block;">
                                    <img src="images/p3.jpg" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- FlexSlider 轮播脚本，勿删 -->
                    <script defer="" src="js/jquery.flexslider.js"></script>
                    <script>
                        // Can also be used with $(document).ready()
                        $(window).load(function () {
                            $('.flexslider').flexslider({
                                animation: "slide",
                                controlNav: "thumbnails"
                            });
                        });
                    </script>

                </div>
                <div class="col-md-4 single-gd-rt">
                    <div class="spl-btn">
                        <div class="spl-btn-bor">
                            <a href="#">
                                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                            </a>
                            <p>景区预订价格</p>
                            <script>
                                $(document).ready(function () {
                                    $('[data-toggle="tooltip"]').tooltip();
                                });
                            </script>
                        </div>
                        <div class="sp-bor-btn text-right">
                            <h4><span>¥ 1280</span> ¥ 980</h4>
                            <p class="best-pri">最优价格</p>
                            <a class="best-btn" href="#zf">现在支付</a>
                        </div>
                    </div>

                    <div class="other-comments" style="margin-top: 30px;">
                        <div class="comments-head">
                            <h3>评价</h3>
                            <p>4.5/5</p>
                            <div class="clearfix"></div>
                        </div>
                        <!--单个comments-bot 为评论-->
                        <div class="comments-bot">
                            <p>"张家界的风景果然是很不错的！"</p>
                            <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> 漫行_135****9920</h4>
                        </div>
                        <div class="comments-bot">
                            <p>"我好喜欢这个地方，因为真的很不错！."</p>
                            <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> 漫行_176****2420</h4>
                        </div>
                        <div class="comments-bot">
                            <p>"爱中国，爱张家界"</p>
                            <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> 漫行_185****0693</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!--//single-page-->
        </div>
        <div class="c-rooms">
            <div class="p-table">
                <div class="p-table-grids">
                    <div class="col-md-3 p-table-grid" style="width: 70%">
                        <div class="p-table-grad-heading" style="width: 143%">
                            <h6>景点特色</h6>
                        </div>
                        <div class="p-table-grid-info">
                            <a href="#"><img src="images/5b47685c9814f7a0cbf60f0ba966e26e.jpg" alt=""></a>
                            <div class="room-basic-info">
                                <a href="#"></a>
                                <h4>大型歌舞剧表演</h4>
                                <p>A large musical performance</p>
                            </div>
                        </div>
                        <ul style="list-style: none">
                            <li>
                                <div class="p-table-grid-info">
                                    <a href="#"><img src="images/16d61d8ba1d1b5e7608b163c1f95491f.jpg" alt=""></a>
                                    <div class="room-basic-info">
                                        <a href="#"></a>
                                        <h4>天门山</h4>
                                        <p>The tianmen mountain</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="p-table-grid-info">
                                    <a href="#"><img src="images/16d61d8ba1d1b5e7608b163c1f95491f.jpg" alt=""></a>
                                    <div class="room-basic-info">
                                        <a href="#"></a>
                                        <h4>天门山</h4>
                                        <p>The tianmen mountain</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="p-table-grid-info">
                                    <a href="#"><img src="images/16d61d8ba1d1b5e7608b163c1f95491f.jpg" alt=""></a>
                                    <div class="room-basic-info">
                                        <a href="#"></a>
                                        <h4>天门山</h4>
                                        <p>The tianmen mountain</p>
                                        <a href="#top" name="zf">回到顶部</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--提交支付信息-->
            <form action="#" method="post" style="margin-top: 18px">
            <div class="p-table">
                <div class="p-table-grids">
                    <div class="col-md-3 p-table-grid" style="width: 50%">
                        <div class="p-table-grad-heading" style="width: 100%">
                            <h6>出行位置/世界时间</h6>
                        </div>
                        <div class="p-table-grid-info">
                            <div class="room-basic-info">
                                出发位置：<input type="text" placeholder="选择您的出发城市" class="search" name="se_strat" style="height: 39px;"/> To
                                <input type="text" placeholder="商家位置" value="" name="se_end" style="height: 39px;"/><br/><br/><br/>
                                出发时间：<input id="time" type="date" value=""/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 p-table-grid" style="width: 50%">
                        <div class="p-table-grad-heading" >
                            <h6>出行方式</h6>
                        </div>
                        <div class="p-table-grid-info">
                            <a href="#"><img src="images/p1.jpg" alt=""></a>[[
                            <div class="room-basic-info">
                                <a href="#">张家界景区服务</a>
                                <h6>将为您展示所有的收费项目</h6>
                                <p>一次付清享受所有服务</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="p-table">

                <div class="p-table-grids">
                    <div class="col-md-3 p-table-grid" style="width:300px">
                        <div class="p-table-grad-heading">
                            <h6>服务名称</h6>
                        </div>
                        <div class="p-table-grid-info">
                            <a href="#"><img src="images/p1.jpg" alt=""></a>
                            <div class="room-basic-info">
                                <a href="#">张家界景区服务</a>
                                <h6>将为您展示所有的收费项目</h6>
                                <p>一次付清享受所有服务</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 p-table-grid" style="width: 425px">
                        <div class="p-table-grad-heading">
                            <h6>服务内容</h6>
                        </div>
                        <div class="rate-features">
                            <ul>
                                <li>天门山景点门票</li>
                                <li>索道缆往返票</li>
                                <li>惊险刺激的玻璃栈道</li>
                                <li>戈登五星级酒店，三天三夜</li>
                                <li>大型歌舞剧表演</li>
                                <li>观光缆车，来回接送，准点到达</li>
                                <li>出行必备饮用水，三瓶装</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 p-table-grid"  style="width: 413px">
                        <div class="p-table-grad-heading">
                            <h6>价格</h6>
                        </div>
                        <div class="avg-rate">
                            <h5>将最优给您</h5>
                            <span class="p-offer">¥980</span>
                            <span class="p-last-price">¥1280</span>
                            <input type="submit" style="background-color: deepskyblue;border: 0;color: white;padding: 10px 30px 10px 30px;font-size: 18px;border-radius: 12px;margin-top: 18px" value="支  付"/>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
            </form>

        </div>
    </div>
    <!-- //container -->
</div>
<!-- //banner-bottom -->
<!-- footer -->

<!-- //footer -->

<script defer="" src="js/jquery.flexslider.js"></script>
<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
<script src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript">
    $(function () {
        var data = new Date();
        var moth = "";
        if(parseInt(data.getMonth()+1)<10){
            moth = "0"+parseInt(data.getMonth()+1);
        }else{
            moth = parseInt(data.getMonth()+1);
        }
        $("#time").val(data.getFullYear()+"-"+moth+"-"+parseInt(data.getDate()+1));
        $(".search").kuCity();
        $("#Sq").click(function () {
            $("#Sqmin").slideToggle(500);
        })
    })
</script>
</body>
</html>