<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Govihar Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="css/JFFormStyle-1.css"/>
    <!-- js -->
    <script src="js/jquery.min.js"></script>
    <script src="js/modernizr.custom.js"></script>

    <!-- //js -->
    <style type="text/css">
        .box {
            width: 165px;
            margin: 0 auto;
        }

        .page {
            width: 600px;
        }

        .info {
            width: 200px;
            height: 34px;
            line-height: 34px;
        }

        .fl {
            float: left;
        }
    </style>
    <!-- fonts -->

    <script src="js/jquery-3.1.1.min.js"></script>
    <!-- //fonts -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });

    </script>
    <!--pop-up-->
    <script src="js/menu_jquery.js"></script>
    <!--//pop-up-->
</head>
<body>
<!-- banner-bottom -->
<div class="banner-bottom">
    <!-- container -->
    <div class="container">
        <div class="faqs-top-grids">
            <div class="product-grids">
                <div class="col-md-9 product-right" th:each="listv,UState:${sList}">
                    <div class="product-right-grids">
                        <div class="product-right-top">
                            <div class="p-left">
                                <img width="108%" th:src="'http://www.yihao86.cn:9352/'+${listv.getS_fmImg()}" alt="正在加载..." />
                            </div>
                            <div class="p-right">
                                <div class="col-md-6 p-right-left">
                                    <a th:href="'details.html?s_id='+${listv.s_id}" th:text="${listv.s_title}" target="_parent">Lorem ipsum dolor sit amet</a>
                                    <p>漫行，伴您而行</p>
                                </div>
                                <div class="col-md-6 p-right-right">
                                    <h6>评分 : <span th:text="${listv.s_num}"></span></h6>
                                    <p>(<span th:text="${listv.s_click}"></span>) 浏览</p>
                                    <span class="p-offer">￥<span th:text="${#numbers.formatDecimal(listv.s_price,0,0)}"></span></span><span class="p-last-price">￥<span th:text="${#numbers.formatDecimal(listv.s_price_yuan,0,0)}"></span></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div id="pagination2" class="page fl"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //container -->

</div>
<!-- //banner-bottom -->
<script defer src="js/jquery.flexslider.js"></script>
<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
<script src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script src="js/jquery.pagination.min.js"></script>
<link rel="stylesheet" href="css/jquery.pagination.css">
</body>
<script type="text/javascript">
    $("#pagination2").pagination({
        currentPage: [[${pageNext}]],
        totalPage:  [[${pageNum}]],
        isShow: false,
        count: 6,
        prevPageText: "< 上一页",
        nextPageText: "下一页 >",
        callback: function (current) {
            location.href = "listView?sPage="+current+"&ePage=11";
            $("#current2").text(current)
        }
    });

</script>
</html>